@import "tailwindcss";

:root {
  --gray-dark: #3b3b3b;
  --gray-light: #a0a0a0;
  --font-sans: "IBM Plex Sans";
  --font-serif: "Newsreader";
  --font-mono: "DM Mono";
}

html {
  background-color: black;
}
